* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* save this for future ref */
:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

body {
    /* background-image: linear-gradient(to right, rgb(238, 116, 222), rgb(106, 243, 106), rgb(117, 117, 221)); */
    background-image: var(--gradient);
}

header {
    display: flex;
    width: 95%;
    height: 90%;
    margin: auto;
    align-items: center;
    padding-bottom: 41px;
    padding-top: 10px;

}

.logo {
    /* flex:1; */
    display: flex;
    width: auto;
    margin: auto;
    background-color: #000;
    border-radius: 5px;
    color: rgb(238, 238, 247, .8);
}

.menu  {
    flex:1;
    display: flex;
    width: auto;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.menu, a {
    justify-content: space-evenly;

}

.burger {
     width: 30px;
     flex:-1;
    }
    
    .line1, .line2, .line3 {
        display: flex;
        align-items: center;
        margin: 3px;
        flex: 3;
        width: 15px;
        height: 3px;
        background-color: #db9191;
}

.centerPg {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.myName {
    color: hsla(180, 61%, 36%, 0.849);
    
    background-image: var(red, green, blue, pink, orange);
    background-clip: text;
    /* color: transparent; */
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

.webDev {
    display: flex;
    margin: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
}

.webDev:hover, 
.webDev:focus {
    background-position: right;

}


.footer {
    display: flex;
    margin: auto;
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.polyContainer {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin: auto;
    width: 90%;
    height: 35vh;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(227, 233, 238, .05); */
    margin-bottom: 40px;
}

.leftTopPoly {
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 40%;
}


.polygonA {
    display: flex;
    width: 40px;
    height: 40px;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: blue;
}

 .leftMidPoly {
     display: flex;
     flex-direction: row;
     position: relative;
     margin: auto;
     align-items: center;
     width: 50%;
 }


.polygonB {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: rgb(204, 0, 255);
}


.rightMidPoly {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    align-items: center;
    width: 50%;
}
.polygonC {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: rgb(204, 183, 112);
}

.leftMidPoly {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    align-items: center;
    width: 50%;
}

.polygonD {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: rgb(255, 145, 0);

}


.copyright {
    /* display: flex; */
    /* flex-direction: row; */
    margin: auto;
    width: 90%;
    justify-content: space-around;

}

.logoFooter {
    position: relative;
    display: block;
    width: 15%;
    float: inline-start;
    margin-right:  0;
    padding: 0;
    background-color: #000;
    border-radius: 5px;
    color: rgb(238, 238, 247, .8);
}

 


